.Nav{
  width: 100%;
  height: 15vh;
  position: relative;
}
.Nav img{
  width: 10vw;
  margin: 6vw;
  margin-top: 8vw;
}
#fork{
  position: absolute;
  left: 40vw;
}
#menu{
  position: absolute;
  cursor: pointer;
  z-index: 20000;
}